.register-background{
    background-image: url('https://plus.unsplash.com/premium_photo-1661373312466-ff768d31b747?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8RW1wbG95ZWUlMjByZWdpc3RyYXRpb24lMjBpbWFnZXN8ZW58MHx8MHx8fDA%3D');
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.register-heading{
    text-align: center;
    margin-top: 20px;
    color: greenyellow;
    font-size: 40px;
    font-family: 'Arial Black', Gadget, sans-serif;
}
.register-card{
    background-color: white;
    width: 400px;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
}
.register-text{
    margin: 10px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
.input-style{
    width: 90%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid gray;
    font-size: 16px;
    padding-left: 10px;
}
.register-button{
    width: 100px;
    height: 35px;
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px;
}