.main-background{
    background-image: url("https://media.istockphoto.com/id/1346144848/photo/ready-to-go-in-the-boardroom.webp?a=1&b=1&s=612x612&w=0&k=20&c=smtVTcgX6teRqzkpiPxLDykfuM4Bg9nFt1Bq3_b-Mfs=");
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-heading{
    text-align: center;
    margin-top: 20px;
    color: black;
    font-size: 40px;
}
.login-card{
    background-color: white;
    width: 400px;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
}
.login-text{
    margin: 10px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}
.input-style{
    width: 90%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid gray;
    font-size: 16px;
    padding-left: 10px;
}
.login-button{
    width: 100px;
    height: 35px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px;
}