.main-container{
    background-color: white;
    height: 100vh;
}
.unordered-list{
    list-style-type: none;
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    background-color: chartreuse;
}
.list-item{
    margin: 20px;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.employee-details-container{
    background-color: lightslategray;
    height: 90vh;
    width: 20%;
    padding: 20px;
    border-radius: 10px;
}
.employee-heading{
    font-size: 45px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
    color: white;
    text-align: center;
    text-decoration: underline;
}
.employee-unordered-list{
    list-style-type: none;
    text-align: center;
}
.second-container{
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.details-container{
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 20px;
}
.about-container{
    margin-left: 30px;
    width: 70%;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    padding: 10px;
    height: 60vh;
}
.horizontal-line{
    border: 1px solid black;
    width: 95%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.about{
    text-align: center;
}
.details{
    margin-left: 25px;
}
.project-container{
    margin-top: 10px;
    height: 25vh;
    width: 71%;
    border-width: 1px;
    border-style: solid;
    margin-left: 30px;
    border-radius: 10px;
}